
  <!-- <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
   
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      
      <a 
       *ngFor="let producto of productoS.productos"
      routerLink="/item" class="rk-item ae-masonry__item">
       <img src="assets/productos/{{ producto.url }}.jpg" alt=""> 
        <div class="item-meta">
          <h2>{{ producto.titulo }}</h2>
          <p>{{ producto.categoria }}</p>
        </div></a>
        
          </div>
  </section> -->

  
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a *ngFor="let producto of productoS.productos" routerLink="/item" class="rk-item ae-masonry__item">
        <img src="assets/productos/{{ producto.url }}.jpg" alt="">
        <div class="item-meta">
          <h2>Essential Stationery</h2>
          <p>Branding</p>
        </div></a>

      
    </div>
  </section>